<style>

	#container
	{
	width: 1040px; 
	margin-left:auto;
	margin-right:auto;
	
	
	
	
	{font-family: arial;
	background-color: rgb(185,179,175);}
	h1 {
	color: white;}
	}
	
	#logo
	{
	background-color: black;
	color: white;
	text-align:center;
	padding:10px;
	font-family: Papyrus;
	font-size: 20px
	}	
	
	#nav
{
		
		float: left;
		background-color: lightgray;
		width: 160px;
		min-height: 620px;
		padding: 10px;
		font-size: 18px;
		color: red;
		
	
	}
	
	#content
	{

		
		float: left;
		padding: 20px;
		width: 640px;
	
		font-family: arial;
		background-color: rgb(185,179,175); height: 600px}
		h1 {
		color: white;

	}
	
	
	
	
	#ad {
		float: left;
		width: 160px;
		min-height: 620px;
		padding: 10px;
		background-color: lightgray;
		color: teal;
	}
	
	#footer{
		clear: both;
		background-color: black;
		color: white;
		text-align: center;
		padding: 20px;
	}
	
	

	</style>

<style type="text/css">
	<!--
		a {text-decoration: none;}
		a:link {color: yellow;}
		a:visited {color: green;}
		a:active {color: red;}
	-->


	a {
   text-decoration: none;
   color: red;
}


a:hover {
   text-decoration: underline;
}


	</style>
	<style type=”text/css”>
body {
  background-color: black;
}
body {
font-family: arial;
background-color: #1c1c1c;}
h1 {
color: rgb(255,255,255);}


</style> 
